<p id="notice"><%= notice %></p>

<p class="text-warning">
  <strong>Name: </strong>
  <%= @subject.name %>
</p>

<p class="text-warning">
  <strong>Activity:</strong>
  <%= @subject.activity %>
</p>
